h1{

    background-color: black;
    color: wheat;
    text-align: center;

}

body{
    background-image: url("https://previews.123rf.com/images/arrow/arrow1508/arrow150800028/43966988-online-shopping-e-commerce-concept-background.jpg");
    background-repeat: no-repeat;
}

a{
    font-size: 34px;
}